.App {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;

    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App__inner {
    display: flex;
    gap: 10px;
}